.adminPanel {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr;
  height: 100vh;
  grid-template-areas:
    "left-header right-header"
    "sidebar main-content";
}

@media (max-width: 768px) {
  .adminPanel {
    grid-template-areas:
      "right-header"
      "main-content";

    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
  }
}
